{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="width: 30%;">
        <h3 class="text-light fw-bold ms-1">Reset password!</h3>
        <hr>
        <p class="text-light">Please enter email that you entered for registration, so can will send resent email!</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="submit" class="form-control bg-warning mt-2 border-0">
        </form>
    </div>
{% endblock content %}