{% extends "base.html" %}

{% block content %}
    <div class="container bg-warning p-3 mb-5" style="border-radius: 5px; width: 70%">
        <h4 class="fs-4 text-dark font-monospace">Deleting article: <span id="article-confirm__title" class="fw-bold">{{ object.title }}</span></h4>
        <hr>
        If  you want to delete article please type article name: <span class="text-primary fw-bold">{{ article }}</span>, below;

        <input id="article-confirm__input" class="mt-3 form-control" style="width: 69%;">

        <button id="checkconfirm" class="btn btn-success" onclick="confirmAction()" style="width: 30%;position: relative; top: -38px; left: 715px;">
            check
        </button>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <button id="article-confirm__button" type="submit" class="btn btn-outline-danger fw-bold fs-5" disabled style="width: 100%;">Delete</button>
        </form>
    </div>
{% endblock content %}